<div class="dark:border-gray-700">
  <h1 class="text-3xl font-bold text-gray-800">Wallets</h1>
  <p class="text-lg font-normal text-gray-700">Welcome to IFM Financial Management</p>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-4 place-items-stretch auto-rows-fr">
    <div *ngFor="let item of walletList; let i = index"
         class="flex flex-col rounded-lg justify-center dark:bg-gray-800 bg-white w-full h-full">
      <div class="w-full rounded-t-lg flex items-center justify-between px-4 py-3">
        <div class="w-full flex justify-between border-b-2 py-3">
          <div class="font-bold text-lg text-[#878787]">
            {{ item.walletName }}
          </div>
          <div class="font-medium text-normal text-[#666666]">
            {{ item.walletTypeName }}
          </div>
        </div>
      </div>
      <div class="w-full flex flex-col rounded-b-lg justify-start px-4 py-3 space-y-5">
        <div>
          <p class="font-semibold text-lg">
            {{ NumberFormat(item.walletBalance) }}
          </p>
          <p class="font-medium text-[#9F9F9F]">
            Total amount
          </p>
        </div>

        <div class="flex justify-between">
          <button class="text-[#299D91] text-lg font-medium mr-4" (click)="toggleDeleteModal()">
            Remove
          </button>
          <button type="button"
                  (click)="handleDetailsButtonClicked(item.walletId)"
                  class="text-white bg-[#299D91] font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
            Details
            <fa-icon [icon]="faChevronRight"
                     size="1x"
                     class="text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white ml-3">
            </fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col rounded-lg justify-center items-center dark:bg-gray-800 w-full h-full">
      <button type="button"
              (click)="toggleCreateModal()"
              class="flex items-center text-white bg-[#299D91] font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2">
        Create New Wallet
        <fa-icon [icon]="faPlus"
                 size="1x"
                 class="text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white ml-3">
        </fa-icon>
      </button>
    </div>
  </div>

  <div *ngIf="isModalOpen" (click)="handleCreateOverlayClick($event)"
       class="fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full inset-0 overflow-x-hidden overflow-y-auto flex bg-black bg-opacity-50">
    <app-wallet-create
      class="w-1/2"
      [isModalOpen]="isModalOpen"
      (closeModal)="toggleCreateModal()"
      (walletCreated)="onWalletCreated()"></app-wallet-create>
  </div>

  <div *ngIf="isModalDeleteOpen" (click)="handleDeleteModalOverlayClick($event)"
       class="fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full inset-0 overflow-x-hidden overflow-y-auto flex bg-black bg-opacity-50">
    <app-wallet-delete
      [isModalDeleteOpen]="isModalDeleteOpen"
      (closeModal)="toggleDeleteModal()"
      (walletCreated)="onWalletCreated()"></app-wallet-delete>
  </div>

</div>
