<div class="dark:border-gray-700">
  <h1 class="text-3xl font-bold text-gray-800">Your information</h1>
  <p class="text-lg font-normal text-gray-700">Welcome to IFM Financial Management</p>

  <div class="flex w-full justify-center my-4">
    <div class="bg-white rounded-lg w-4/5 p-4 flex flex-col lg:flex-row justify-between">
      <div class="w-full">
        <form [formGroup]='passwordForm' (ngSubmit)="changeInformation()" autocomplete="off" class="flex flex-col justify-between">
          <div class="flex flex-col w-1/2">
            <div>
              <label for="currentPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Password</label>
              <input type="password" id="currentPassword"
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     formControlName="currentPassword"/>
              <div *ngIf="passwordForm.get('currentPassword')?.touched && passwordForm.get('currentPassword')?.invalid" class="text-red-600 text-sm mt-1">
                Current password is required.
              </div>
            </div>
            <div>
              <label for="new_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New password</label>
              <input type="password" id="new_password"
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     formControlName="newPassword"/>
              <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid" class="text-red-600 text-sm mt-1">
                <span *ngIf="passwordForm.get('newPassword')?.hasError('required')">New password is required.</span>
                <span *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">New password must be at least 4 characters long.</span>
                <span *ngIf="passwordForm.get('newPassword')?.hasError('maxlength')">New password cannot exceed 8 characters.</span>
              </div>
            </div>
            <div>
              <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
              <input type="password" id="confirm_password"
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     formControlName="confirmPassword"/>
              <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid" class="text-red-600 text-sm mt-1">
                <span *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Confirm password is required.</span>
                <span *ngIf="passwordForm.get('confirmPassword')?.hasError('isMatching')">Passwords do not match.</span>
              </div>
            </div>
          </div>
          <div class="flex w-full justify-end">
            <div class="flex gap-4">
              <button type="submit" class="flex items-center text-white bg-[#299D91] font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 disabled:opacity-75" [disabled]="passwordForm.invalid">
                Submit
              </button>
              <button type="button" (click)="handleNavigation()" class="flex items-center text-white bg-[#299D91] font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 disabled:opacity-75">
                Profile
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
