.selected {
  background-color: #048136;
  color: #FFF;
}

.selected fa-icon {
  color: #FFF;
}

.selected h5 {
  color: #FFF;
}

.nonSelected:hover {
  background-color: #048136;
}

.nonSelected:hover fa-icon {
  color: #FFF;
}

.nonSelected:hover h5 {
  color: #FFF;
}

/* Styles for the custom tab group */
.custom-tab-group .mat-tab-label {
  border-bottom: 2px solid transparent; /* Default border color */
}

.custom-tab-group .mat-tab-label-active {
  color: #299D91; /* Active tab text color */
  border-bottom: 2px solid #299D91; /* Active tab border color */
}
